# Global
venv/
.venv/
.ruff_cache/
# Local
.env
.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store
logs/
.mypy_cache/
*.egg-info/
__pycache__/
*.pyc
.pytest_cache/
.neptune/
workspaces/
**/INSTADEEP_GITHUB_TOKEN
tinkerer/agent/logs/*
tinkerer/agent/docker/*
Tinkerer_getting_started.md
# UV lock file
uv.lock
hist2.txt
# Hydra output 
*.log
outputs/
tempo/
prompt_playground/
Dockerfile_org_dpendcy
m.yaml
d
vlll.sh
asim_temp/